cd Users/alex/Documents/Projects/Workout_project
streamlit run app.py

## Packages

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
DATE_COLUMN = 'Date'

### CSV File Import

In [3]:
### Data
name = 'Workout Progress Data - Main2.0.csv'

data_file = pd.read_csv(name)

name = 'Exercise_list.csv'
exercise_file = pd.read_csv(name)

## Fields

In [5]:
# Getting current date
currentDate = datetime.today().strftime('%m-%d-%Y')

# Setting the date for the beginning of current month
firstDayOfMonth = datetime.today().replace(day=1).strftime('%m-%d-%Y')

In [10]:
# d.index = pd.to_datetime(data['Date '],format='%m/%d/%y')
# d.groupby(by=[d.index.month, d.index.year])

count_total_records = pd.DataFrame(data[DATE_COLUMN].unique(), columns=['Dates'])

print(f"Count of unique days in all csv: {len(count_total_records)}")

NameError: name 'data' is not defined

---

## Current Month

In [ ]:
# Lets get the number of days record out of the current month

# Data for the current month
data1 = data[data["Date "] >= first_day_of_month]
data1

# represents the list of unique dates in csv for current month
list1 = data1["Date "].unique()

print("This month we recorded data for {} days.".format(len(list1)))

This month we recorded data for 0 days.

In [ ]:
count_total_records

         Dates
0          NaN
1   01/01/2022
2   02/01/2022
3   03/01/2022
4   04/04/2022
5   04/05/2022
6   04/06/2022
7   04/09/2022
8   04/10/2022
9   04/11/2022
10  04/12/2022
11  04/13/2022
12  04/18/2022
13  04/19/2022
14  04/23/2022
15  04/24/2022
16  04/25/2022
17  04/26/2022
18  04/27/2022
19  04/28/2022
20  05/01/2022
21  05/02/2022
22  05/03/2022
23  05/05/2022
24  05/06/2022
25  05/08/2022
26  05/09/2022
27  05/10/2022
28  05/12/2022
29  05/15/2022
30  05/17/2022
31  05/18/2022

In [11]:
data_file.columns

Index(['Date', 'Muscle Group', 'Exercise', 'Sets', 'Reps', 'Weight',
       'Duration', 'Note'],
      dtype='object')

In [12]:
exercise_file

                                      Exercise       Muscle
0                                        Start        Start
1                                          End          End
2                                  Body Weight  Body Weight
3               Body Weight Parallette Push-Up  Body Weight
4    Body Weight Parallette Close Grip Push-Up  Body Weight
..                                         ...          ...
247                                   Wall Sit        Other
248                                  Neck Curl        Other
249                             Neck Extension        Other
250                         Barbell Wrist Curl        Other
251                        Dumbbell Wrist Curl        Other

[252 rows x 2 columns]

In [13]:
data_file['Muscle Group'] = [exercise_file['Muscle'] if exercise_file['Exercise'] < 30]

SyntaxError: invalid syntax (3381140158.py, line 1)

In [ ]:
[exercise_file['Muscle'] where exercise_file['Exercise'] == x for x in data_file['Exercise']]

In [ ]:
a = []
for x in exercise_file['Exercise']:
    x

In [ ]:
data_file['Exerise'] == 'Dumbbell Flat Bench Press'

KeyError: 'Exerise'